<mat-toolbar color="primary" class="docs-navbar-header mat-elevation-z2 mb-2">
  <mat-toolbar-row>
    <div class="brand-title">
      <button mat-button [routerLink]="['/']">
        <mat-icon>book</mat-icon> Book Cart
      </button>
    </div>

    <span class="spacer"></span>

    <button
      mat-icon-button
      [routerLinkActive]="['link-active']"
      [routerLink]="['/shopping-cart']"
    >
      <mat-icon matBadge="{{ cartItemCount }}" matBadgeColor="warn"
        >shopping_cart</mat-icon
      >
    </button>

    <button
      mat-icon-button
      [routerLinkActive]="['link-active']"
      [routerLink]="['/wishlist']"
    >
      <mat-icon matBadgeColor="warn">favorite</mat-icon>
    </button>

    <button
      mat-button
      *ngIf="!userData.isLoggedIn"
      [routerLinkActive]="['link-active']"
      [routerLink]="['/auth/login']"
    >
      Login
    </button>
    <button
      mat-button
      *ngIf="userData.userTypeId == userType.admin"
      [routerLink]="['/admin/books']"
    >
      Admin Panel
    </button>
  </mat-toolbar-row>
</mat-toolbar>
